<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <!-- <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button> -->
            <ion-buttons slot="start">
                <ion-menu-button menu="firstMenu"></ion-menu-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title text-center>Componentes</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon mode="md" slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <ion-list>
        <ion-item color="dark" *ngFor="let c of componentes | async" [routerLink]="c.redirectTo" detail>
            <ion-icon color="secondary" slot="start" [name]="c.icon"></ion-icon>
            <ion-label>
                {{c.name}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>