<ion-header no-border>
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Avatar</ion-title>
        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/slides/user-6.svg">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
    <ion-chip color="vimeo" *ngFor="let i of [1,1,1,1,1,1,1,1,1]">
        <ion-avatar>
            <img src="/assets/cortana.jpg">
        </ion-avatar>
        <ion-label color="light">Cortana</ion-label>
    </ion-chip>
    <ion-list>
        <ion-item color="dark" *ngFor="let i of [1,1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <img src="/assets/cortana.jpg">
            </ion-avatar>
            <ion-label>Cortana</ion-label>
        </ion-item>
    </ion-list>
</ion-content>