<app-header titulo="ProgressBar Range"> </app-header>

<ion-content color="dark" padding>
    <ion-item color="dark">
        <ion-label>ProgressBar valor: <span>{{valor}}</span></ion-label>
    </ion-item>
    <ion-card>
        <ion-progress-bar color="secondary" [value]="porcentaje"> </ion-progress-bar>

    </ion-card>
    <ion-list>
        <ion-range mode="md" min="0" max="100" pin="true" value="50" color="tertiary" (ionChange)="cambioRango($event)">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">100</ion-label>
        </ion-range>
    </ion-list>
</ion-content>