<ion-header no-border>
    <ion-toolbar mode="ios" color="primary">
        <ion-title text-center text-capitalize>{{nombre}}--{{pais}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
    <ion-button color="primary" expand="full" shape="round" (click)="salirSinArgumentos()">
        Salir sin argumentos
    </ion-button>
    <ion-button color="secondary" expand="full" shape="round" (click)="salirConArgumentos()">
        Salir con argumentos
    </ion-button>

</ion-content>