ion-list {
    --ion-background-color: #222428;
}

ion-skeleton-text {
    --background: #ffffff;
    --background-rgb: 255, 255, 255;
    --border-radius: 4px;
}

ion-segment-button {
    background-color: var(--ion-color-dark)!important;
    color: white !important;
}

.segment-button-checked {
    color: var(--ion-color-secondary)!important;
}