ion-list {
    --ion-background-color: #222428;
}

.searchbar-input.sc-ion-searchbar-ios {
    background-color: white !important;
}

.sc-ion-searchbar-ios-h {
    background-color: #222428;
}

ion-searchbar {
    --background: #ffffff;
}