<ion-header no-border translucent="true">
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-back-button shape="round" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Searchbar</ion-title>
    </ion-toolbar>
    <ion-searchbar mode="ios" animated (ionChange)="buscar($event)"></ion-searchbar>
</ion-header>

<ion-content color="dark">
    <ion-list>
        <ion-item color="dark" *ngFor="let album of albums | filtro:textoBuscar:'title'">
            {{album.title}}
        </ion-item>
    </ion-list>

</ion-content>