<ion-header>
    <ion-toolbar>
        <ion-title>
            Lista Dinamica
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button *ngFor="let item of miLista" (click)="routingViaNavParams(item)">
            <ion-icon slot="start" [name]="'logo-'+item.icon" [ngStyle]="{'color':item.color}"> </ion-icon>
            <ion-label>
                <h3>{{item.title}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>