<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="Regresar" defaultHref="/">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Avatar</ion-title>
        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/cortana.jpg">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-chip>
        <ion-avatar>
            <img src="/assets/cortana.jpg">
        </ion-avatar>
        <ion-label>Avatar Chip</ion-label>
        <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip color="primary" *ngFor="let i of [1,1,1,1,1,1,1,1]">
        <ion-avatar>
            <img src="/assets/cortana.jpg">
        </ion-avatar>
        <ion-label>Cortana</ion-label>
    </ion-chip>
    <ion-list>
        <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <img src="/assets/cortana.jpg">
            </ion-avatar>
            <ion-label>Cortana</ion-label>
        </ion-item>
    </ion-list>
</ion-content>